In [1]:
import openlayers as ol
from openlayers.geopandas import GeoDataFrame, gdf_to_geojson

In [2]:
data = "https://maplibre.org/maplibre-gl-js/docs/assets/earthquakes.geojson"

In [3]:
gdf = GeoDataFrame.from_file(data)

In [4]:
gdf

,id,mag,time,felt,tsunami,geometry
0,ak16994521,2.30,1507425650893,NaN,0,POINT Z (-151.5129 63.1016 0)
1,ak16994519,1.70,1507425289659,NaN,0,POINT Z (-150.4048 63.1224 105.5)
2,ak16994517,1.60,1507424832518,NaN,0,POINT Z (-151.3597 63.0781 0)
3,ci38021336,1.42,1507423898710,NaN,0,POINT Z (-118.497 34.29967 7.64)
4,us2000b2nn,4.20,1507422626990,NaN,0,POINT Z (-87.6901 12.0623 46.41)
...,...,...,...,...,...,...
6102,uw61304877,1.15,1504836765080,NaN,0,POINT Z (-122.56833 48.69917 3.29)
6103,us2000ahu8,3.70,1504836433340,2.0,0,POINT Z (-111.4569 42.6238 5)
6104,nc72888096,2.03,1504835142230,4.0,0,POINT Z (-122.05367 37.83517 7.59)
6105,ak16821829,1.50,1504834613166,NaN,0,POINT Z (-163.7652 67.5597 6.1)
6106,hv61900626,2.91,1504833891990,NaN,0,POINT Z (-155.01183 19.39933 2.609)

In [5]:
m = gdf[0:10].ol.icon(icon_src="https://upload.wikimedia.org/wikipedia/commons/7/7c/201408_cat.png", icon_scale=0.1).explore()

In [6]:
m

MapWidget(calls=[{'method': 'addLayer', 'args': ({'id': 'geopandas', 'source': {'@@geojson': {'type': 'Feature…

In [12]:
m.metadata

{'layers': [{'id': 'osm', 'type': 'TileLayer'},
  {'id': 'geopandas', 'type': 'WebGLVectorLayer'}],
 'controls': []}

In [12]:
# m.add_call("setVectorSource", "geopandas", ol.VectorSource(geojson=gdf_to_geojson(gdf[20:100])).model_dump())

In [8]:
new_src = ol.VectorSource(geojson=gdf_to_geojson(gdf[20:100]))

In [9]:
m.set_source(layer_id="geopandas", source=new_src)

In [10]:
m.remove_layer("osm")

In [13]:
m.metadata

{'layers': [{'id': 'osm', 'type': 'TileLayer'},
  {'id': 'geopandas', 'type': 'WebGLVectorLayer'}],
 'controls': []}